* {
    box-sizing: border-box;
}

.whiteboard {
    width: 100%;
    height: 100%;
}

.colors {
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 10%;
    margin: 2px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }